@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Kenfolg";
  src: url("fonts/Kenfolg.otf");
  font-display: swap;
}

@font-face {
  font-family: "Mackay";
  src: url("fonts/Mackay.otf");
  font-display: swap;
}

.gilroy {
  font-family: Gilroy;
}

.kenfolg {
  font-family: Kenfolg;
}

* {
  font-family: Mackay;
}
.text-spacing {
  word-spacing: 10px;
  line-height: 60px !important;
}
nav a,
nav {
  font-size: 28px;
  font-family: Kenfolg;
}
.b-yellow {
  /* background: #e6ceb7; */
  /* background: #f3d5ad; */
  background: #0d1117;
}

.bg-blur {
  backdrop-filter: blur(5px) brightness(5);
}

.text-stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #313131;
  -webkit-text-fill-color: white;
}
.text-stroke:hover {
  -webkit-text-fill-color: #313131;
}
