@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Kenfolg";
  src: url("fonts/Kenfolg.otf");
  font-display: swap;
}

@font-face {
  font-family: "Mackay";
  src: url("fonts/Mackay.otf");
  font-display: swap;
}

* {
  font-family: Gilroy;
  user-select: none;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
